Number Data Type in Python

Binary 0b' or '0B'


---


Octal 0o' or '0O'


---


Hexadecimal 0x' or '0X'

---

In [1]:
print(type(5))
a = 10 
print(type(5.0))
c = 5 + 3j
print(c + 3)
print(isinstance(a, complex))

<class 'int'>
<class 'float'>
(8+3j)
False

In [2]:
a = 20
b = 20.5
c = 1j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
x = 0b1101011
y = 0xFB + 0b10
z = 0o15
print(type(x))
print(x)
print(type(y))
print(y)
print(type(z))
print(z)

<class 'int'>
107
<class 'int'>
253
<class 'int'>
13

List in Python

In [6]:
my_list1 = [] #Empty list
my_list2 = [1, 2, 3] #Single data type (int only)
my_list3 = [1, "Hello", 3.4] #Mixed data type
my_list4 = ["PYTHON", [8, 4, 6], ['a']] #nested list(address,multiple phone numners)

In [7]:
my_list = ['p', 'e', 'o', 'p', 'l', 'e']
print(my_list)
print(my_list[0])  # first item (starts on oth index)
print(my_list[2])  # third item
print(my_list[4])  # fifth item
# print(my_list[8])

['p', 'e', 'o', 'p', 'l', 'e']
p
o
l

In [8]:
# Nested List
n_list = ["Happy", [2, 0, 2, 2]]
print(n_list)
print(n_list[0][1])
print(n_list[1][3])

['Happy', [2, 0, 2, 2]]
a
2

In [9]:
# Negative indexing in lists
neg_list = ['p', 'z', 'o', 'x', 'l', 'e']
# last item
print(neg_list[-1])
# fifth last item
print(neg_list[-5])

e
z

In [10]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8,10]

# change the 1st item    
odd[0] = 1           
print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7,9]  
print(odd)

[1, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 10]

Tuples

In [11]:
# Different types of tuples
my_tuple = () # Empty tuple
print(my_tuple)
my_tuple = (1, 2, 3) # Tuple having integers
print(my_tuple)
my_tuple = (1, "Hello", 3.4) # tuple with mixed datatypes
print(my_tuple)
my_tuple = ("TUPLES", [8, 4, 6], (1, 2, 3)) # nested tuple
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('TUPLES', [8, 4, 6], (1, 2, 3))

In [12]:
# Accessing tuple elements using indexing
i_tuple = ('p','e','r','m','i','t')

print(i_tuple[0])   # 'p' 
print(i_tuple[5])   # 't'

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

p
t
s
4

In [13]:
# Negative indexing for accessing tuple elements
neg_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(neg_tuple[-1])
print(neg_tuple[-2])

t
i

In [14]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5,5,8])
# my_tuple[1] = 9

print(my_tuple)

my_tuple[3][0] = [1,2,3,4]    # However, item of mutable element can be changed
# print(my_tuple)

# my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z') # Tuples can be reassigned
print(my_tuple)

(4, 2, 3, [6, 5, 5, 8])
(4, 2, 3, [[1, 2, 3, 4], 5, 5, 8])

In [15]:
# print(my_tuple[1][0:1])

Strings in Python

In [16]:
my_string = 'a'
print(type(my_string))

my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

my_string = """Hello, welcome to
           the world of Python""" # triple quotes string can extend multiple lines
print(my_string)

<class 'str'>
Hello
Hello
Hello
Hello, welcome to
           the world of Python

In [17]:
#Accessing string characters in Python
str = 'programiz' #immutable
print('str = ', str)

print('str[0] = ', str[0])

print('str[-1] = ', str[-1])

print('str[1:5] = ', str[1:5])

print('str[5:-2] = ', str[5:-2])
str = 'b' #reassinged
print(str)

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am
b

Sets in Python

In [18]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

In [19]:
my_set = {1, 2, 3, 4, 3, 2} # set cannot have duplicates
print(my_set)

my_set2 = set([1, 2, 3, 2]) # we can make set from a list using set()
print(my_set2)

# my_set3 = {1, 2, [3, 4]} # set cannot have mutable items, here [3, 4] is a mutable list
# print(my_set3)

{1, 2, 3, 4}
{1, 2, 3}

In [20]:
# initialize my_set
my_set = {1, 3}
print(my_set)
# my_set[0] # TypeError: 'set' object does not support indexing

# add an element
my_set.add(2)
print(my_set)

my_set.update([6,2,4]) #ascending order
print(my_set)

my_set.update([4, 5, 6], {1, 6, 8}) # add list and set #unique values only 
print(my_set)
# fset = frozenset(my_set)
# print(fset)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 5, 6, 8}

Dictionaries in Python

In [21]:
my_dict1 = {}
my_dict2 = {1: 'apple' , 2: 'ball' } # dictionary with integer keys
my_dict3 = {'name': 'John', 1: [2, 4, 3]} # dictionary with mixed keys
my_dict4 = dict({1:'apple', 2:'ball'}) # using dict()
my_dict5 = dict([(1,'apple'), (2,'ball')]) # from sequence having each item as a pair
print(my_dict1)
print(my_dict2)
print(my_dict3)
print(my_dict4)
print(my_dict5)

{}
{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}

In [22]:
# get vs [] for retrieving elements
my_dict1 = {'name': 'Jack', 'age': 26}
print(my_dict1['name'])
print(my_dict1.get('age'))
# print(my_dict1.get('address'))# Trying to access keys which doesn't exist throws error
# print(my_dict1['address']) # KeyError

Jack
26

In [23]:
# Changing and adding Dictionary Elements
c_dict = {'name': 'Jack', 'age': 26}

# update value
c_dict['age'] = 27
print(c_dict)

# add item
c_dict['address'] = 'Downtown'
print(c_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [24]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

Functions in Python

In [25]:
def greet(name): #function with parameters
    """
    This function greets to
    the person passed in as
    a parameter
    """
    print("Hello, " + name + ". Good morning!")
greet('Amanda')

Hello, Amanda. Good morning!

In [26]:
def hello(): #function without parameters
  name = input("Enter your name: ")  
  if name:
    print ("Hello " + name)
  else:
    print("Hello World") 
  return 

hello()

Enter your name: V
Hello V

Anonymos Function

In [27]:
double = lambda x: x*2

double(5)

10

In [28]:
# `sum()` lambda function
sum1 = lambda x, y: x + y;

# Call the `sum()` anonymous function
print(sum1(4,5))

# "Translate" to a UDF
def sum(x, y):
  return x+y

9

In [29]:
import pandas