In [ ]:
x = int(input("Enter the number 1 : "))
y = int(input("Enter the number 2 : "))

print('x + y =',x+y)
print('x - y =',x-y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)

Enter the number 1 : 4
Enter the number 2 : 2
x + y = 6
x - y = 2
x / y = 2.0
x // y = 2
x ** y = 16

Comparison operators in Python

In [ ]:
x = int(input("Enter the number 1 : "))
y = int(input("Enter the number 2 : "))
 
# print bitwise right shift operator
print('x >> 1', x >> 1)
print('y >> 1', y >> 1)

Enter the number 1 : 20
Enter the number 2 : 15
x >> 1 10
y >> 1 7

In [ ]:
x = int(input("Enter the number 1 : "))
y = int(input("Enter the number 2 : "))

# print bitwise left shift operator
print('x << 1',x<<1)
print('y << 1',y<<1)

Enter the number 1 : 5
Enter the number 2 : -10
x << 1 10
y << 1 -20

In [ ]:
x = int(input("Enter the number 1 : "))
y = int(input("Enter the number 2 : "))

print('x > y : ',x>y)
print('x < y : ',x<y)
print('x == y : ',x==y)
print('x != y : ',x!=y)
print('x >= y : ',x>=y)
print('x <= y : ',x<=y)

Enter the number 1 : 5
Enter the number 2 : 8
x > y :  False
x < y :  True
x == y :  False
x != y :  True
x >= y :  False
x <= y :  True

Assingment operators

In [ ]:
x = 12
x += 2
#x = x + 2
print(x)

14

In [ ]:
x = 12
x -= 2
#x = x - 2
print(x)

10

In [ ]:
x = 12
x *= 2
#x = x * 2
print(x)

24

In [ ]:
x = 12
x /= 2
#x = x / 2
print(x)

6.0

In [ ]:
x = 10
x %= 3
#x = x % 2
print(x)

1

In [ ]:
x = 11
x //= 2
#x = x // 2
print(x)

5

In [ ]:
x = 12
x **= 2
#x = x ** 2
print(x)

144

In [ ]:
x = 13
x &= 2
#x = x & 2
print(x)

0

In [ ]:
x = 12
x |= 2
#x = x | 2
print(x)

14

In [ ]:
x = 12
x ^= 2
#x = x ^ 2
print(x)

14

Identity Operators in Python

In [ ]:
x = 3
y = "Hii"
z = [3,4,"Hii"]

print(x is not y)
print(x is not z)
print(y is  z)

True
True
False

Membership Operators

In [ ]:
x= "Hello World"
y = {1:'a',2:'b'}

print('H' in x)

print('Hello' not in x)

print(1 in y)

print('a' in y)

True
False
True
False

**List** - List is a collection which is ordered and changeable. Allows duplicate members.

In [ ]:
x = ['apple','banana','cherry','apple','cherry']
print(x)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
x = ['apple','banana','cherry']
print(len(x))

3

In [ ]:
list = ['apple','red',True,34,21]
print(list)

['apple', 'red', True, 34, 21]

In [ ]:
type(list)

list

In [ ]:
x = ['apple','banana','cherry','orange','kiwi','melon','mango']

#Access items
print(x[2])

#Access items using negative indexing
print(x[-3])

#Range of Indexes
print(x[2:6])
print(x[0:])
print(x[:-2])

#check if item exists
if 'apple' in x:
  print('yes')

cherry
kiwi
['cherry', 'orange', 'kiwi', 'melon']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
yes

In [ ]:
x = ['apple','banana','cherry','orange','kiwi','melon','mango']

#change a range of item values
x[1:2] = ['blackcurrant','watremelon']
print(x)

#Insert items
x.insert(6,'watermelon')
print(x)

['apple', 'blackcurrant', 'watremelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'watremelon', 'cherry', 'orange', 'kiwi', 'watermelon', 'melon', 'mango']

In [ ]:
a = ['apple','banana','cherry']

#append items
a.append('orange')
print(a)

#insert items
a.insert(1,'blue')
print(a)

#extend list
z = ['apple','banana']
tropical = ['mango','pineapple']

z.extend(tropical)
print(z)

['apple', 'banana', 'cherry', 'orange']
['apple', 'blue', 'banana', 'cherry', 'orange']
['apple', 'banana', 'mango', 'pineapple']

In [ ]:
a = ['apple', 'blue', 'banana', 'cherry', 'orange']

#remove list items
a.remove('blue')
print(a)

#remove specified index
a.pop(0)
print(a)

['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry', 'orange']

In [ ]:
a = ['apple','banana','cherry']

#loop through a list
for x in a:
  print(x)

#using while loop
x = 0
while x < len(a):
  print(a[x])
  x = x+1

apple
banana
cherry
apple
banana
cherry

In [ ]:
#list comprehension
fruits = ['apple','banana','cherry','kiwi','mango']

newlist = [x for x in fruits if 'a' in x]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#sort lists
x = ["orange", "mango", "kiwi", "pineapple", "banana"]
x.sort()
print(x)

a = [100,23,43,45]
a.sort(reverse = True)
print(a)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[100, 45, 43, 23]

In [ ]:
#copy list
a = ["apple", "banana", "cherry"]
list = a.copy()
print(list)

['apple', 'banana', 'cherry']

In [ ]:
#join two lists
list1 = ['a','b','c']
list2 = [2,3,4]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 2, 3, 4]

In [ ]:
list1 = ['a','b','c']
list2 = [2,3,4]

for x in list2:
  list1.append(x)
print(list1)

['a', 'b', 'c', 2, 3, 4]

In [ ]:
list1 = ['a','b','c']
list2 = [2,3,4]

list1.extend(list2)
print(list1)

**Tuple** - Tuple is a collection which is ordered and unchangeable. Allows duplicate members

In [ ]:
a = ('apple','banana','cherry','mango','pipeapple')
print(a)
print(type(a))
print(len(a))

('apple', 'banana', 'cherry', 'mango', 'pipeapple')
<class 'tuple'>
5

In [ ]:
#create tuple with one item
x = ('apple',)
print(type(x))

#not a tuple
a = ('apple')
print(type(a))

<class 'tuple'>
<class 'str'>

In [ ]:
#A tuple can contain different data types:
tuple1 = ('apple',34,True,40,"mango")
print(tuple1)

('apple', 34, True, 40, 'mango')

In [ ]:
#Access tuple items
w = ('apple','banana','cherry','orange','kiwi','melon')

print(w[1])
print(w[-2])
print(w[2:5])
print(w[:-1])

#check if item exists
if 'apple' in w:
  print('yes')

banana
kiwi
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange', 'kiwi')
yes

In [ ]:
#Unpacking a tuple
fruits = ('apple','banana','cherry')

(green,yellow,red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
#Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green,yellow,*red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
#loop tuples
a = ('apple','banana','cherry')
for x in a:
  print(x)

apple
banana
cherry

In [ ]:
#join two tuple
tuple1 = ('a','b','c')
tuple2 = (1,2,3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Set** - Set is collection which is unordered, unchangeable, and unindexed. No deuplicate members.

In [ ]:
set1 = {'apple','banana','mango','cherry'}
print(set1)

{'mango', 'banana', 'cherry', 'apple'}

In [ ]:
#no duplicate allow
set2 = {'apple','banana','apple','cherry'}
print(set2)

{'banana', 'cherry', 'apple'}

In [ ]:
set2 = set1
print(set2)

{'mango', 'banana', 'cherry', 'apple'}

In [ ]:
print(len(set1))
print(len(set2))

4
3

In [ ]:
set3 = {'apple',True,23}
print(set3)

{True, 23, 'apple'}

In [ ]:
type(set3)

set

In [ ]:
a = set(('apple','banana'))
print(a)

{'banana', 'apple'}

In [ ]:
for x in a:
  print(x)

banana
apple

In [ ]:
#Once a set is created, you cannot change its items, but you can add new items.
x = {'a','b','c'}
x.add('SCOE')
print(x)

{'a', 'c', 'SCOE', 'b'}

In [ ]:
z = {1,2,'scoe'}
z.remove(1)
print(z)

{2, 'scoe'}

**Dictonary** - Dictonary is a collection which is ordered and changeable. No duplicate members.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Ford",
  "year": 1675,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Ford', 'year': 2020}

In [ ]:
print(thisdict['model'])

Ford

In [ ]:
print(thisdict.get('model'))

Ford

In [ ]:
x = thisdict.keys()

In [ ]:
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
x = thisdict.values()

In [ ]:
print(x)

dict_values(['Ford', 'Ford', 2020])

In [ ]:
thisdict["color"] = "red"

In [ ]:
print(thisdict)

{'brand': 'Ford', 'model': 'Ford', 'year': 2020, 'color': 'red'}

In [ ]:
thisdict.update({"color": "blue"})

In [ ]:
print(thisdict)

{'brand': 'Ford', 'model': 'Ford', 'year': 2020, 'color': 'blue'}

In [ ]:
thisdict['color']='black'
print(thisdict)

{'brand': 'Ford', 'model': 'Ford', 'year': 2020, 'color': 'black'}

In [ ]:
thisdict.pop('color')

'black'

In [ ]:
print(thisdict)

{'brand': 'Ford', 'model': 'Ford', 'year': 2020}

In [ ]:
del thisdict

In [ ]:
print(thisdict)

NameError: ignored

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**If ... Else**

In [1]:
a = 5
b = 7
if b > a:
  print("yes")

yes

In [2]:
a = 3
b = 3
if b > a:
  print("b > a")
elif a == b:
  print("a==b")

a==b

In [3]:
x = 56
y = 30
if y > x:
  print('y is greater than x')
elif x == y:
  print('x is equal to y')
else:
  print('x is greater than y')

x is greater than y

In [4]:
x = 56
if x > 10:
  print('Above ten')
  if x > 20:
    print('and also above 20')
  else:
    print('but not above 20')

Above ten
and also above 20

**While Loop**

In [5]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Break Statement

In [6]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Continue Statement

In [7]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**For Loop**

In [8]:
a = ['apple','mango','cherry','pipeapple']

for i in a:
  print(i)

apple
mango
cherry
pipeapple

In [9]:
for x in 'Sanjivani':
  print(x)

S
a
n
j
i
v
a
n
i

In [10]:
a = ['apple','banana','cherry','mango','pipeapple']

for x in a:
  print(x)
  if x == 'mango':
    break

apple
banana
cherry
mango

In [11]:
a = ['apple','banana','cherry','mango','pipeapple']

for x in a:
  print(x)
  if x == 'mango':
    continue

apple
banana
cherry
mango
pipeapple

range() function

In [12]:
for x in range(5):
  print(x)

0
1
2
3
4

In [13]:
a = ['red','black','green','yellow']
b = ['apple','banana','cherry','mango']

for x in a:
  for z in b:
    print(x,z)

red apple
red banana
red cherry
red mango
black apple
black banana
black cherry
black mango
green apple
green banana
green cherry
green mango
yellow apple
yellow banana
yellow cherry
yellow mango