**Iterating (for loop)** : List, Tuples, Set, Dictionary

In [118]:
'''
List
program to find all such numbers which are divisible by 7 but are not multiple of 5, between 2000 and 3200(both included) 
the numbers should be printed in comma seprated sequence.'''
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [119]:
#Tuple
tuple1 = (5, 3, 2, 8, 4, 4, 6, 2)
sum = 0
for num in tuple1:
    sum += num   
print(sum)

34

In [120]:
#Set
#Create a set 
num_set = {0, 1, 2, 3, 4, 5 }
for i in num_set:
    print(i, end=' \n')
char_set = set('Sanjivani')
# Iterating using for loop
for val in char_set:
    print(val, end=' ')

0
1
2
3
4
5
n i j S a v

In [121]:
#Dict
word_freq = {'is'   : [1, 3, 4, 8, 10],
             'at'   : [3, 10, 15, 7, 9],
             'test' : [5, 3, 7, 8, 1],
             'this' : [2, 3, 5, 6, 11],
             'why'  : [10, 3, 9, 8, 12] }
for i,j in word_freq.items():
    print(i,j)

is [1, 3, 4, 8, 10]
at [3, 10, 15, 7, 9]
test [5, 3, 7, 8, 1]
this [2, 3, 5, 6, 11]
why [10, 3, 9, 8, 12]

**Membership Test (in , not in)**- On List,Tuple,Set,Dict

In [122]:
#List
item = 42
my_list = [1, 2, 3, 4, 5, 6]
print(item not in my_list)
print(item in my_list)

True
False

In [123]:
#List
x = 24
y = 20
list = [10, 20, 30, 40, 50 ];
 
if ( x not in list ):
   print("x is NOT present in given list")
else:
   print("x is  present in given list")
 
if ( y in list ):
   print("y is present in given list")
else:
   print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

In [124]:
#Tuple
a = 10
b = 20
T = (1, 2, 3, 4, 5)

if(a in T):
    print("Line 1 - a is available in the given tuple")
else:
    print("Line 1 - a is not available in the given tuple")

if(b not in T):
    print("Line 2 - b is not available in the given tuple")
else:
    print("Line 2 - b is available in the given tuple")

a = 2
if (a in T):
    print("Line 3 - a is available in the given tuple")
else:
    print("Line 3 - a is not available in the given tuple")

Line 1 - a is not available in the given tuple
Line 2 - b is not available in the given tuple
Line 3 - a is available in the given tuple

In [125]:
#Set
print(42 not in {1, 2, 3})
print('finxter' not in {'finxter', 'learn', 'python'})

True
False

In [126]:
#Dictionary
print('a' not in {'a': 1, 'b': 2})

print('c' in {'a': 1, 'b': 2})

print(43 not in {42: [1, 2], 22: [3, 4]})

False
False
True

**Indexing & Negative Indexing & Slicing** - On List,Tuple,Set,Dict

In [127]:
#List
lst=[*range(10)]
print(lst)
print(lst[7])
print(lst[-5])
print(lst[:])
print(lst[2:6])
print(lst[::-1])
print(lst[-9:-7])
print(lst[:-1])
print(lst[:-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
7
5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[1, 2]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]

In [128]:
#Tuples
T=(22, 3, 45, 4, 2.4, 2, 56, 890, 1)
print(T)
print(T[4])
print(T[-8])
print(T[2:6])
print(T[::-1])
print(T[-9:-7])
print(T[:-1])
print(T[:-2])

(22, 3, 45, 4, 2.4, 2, 56, 890, 1)
2.4
3
(45, 4, 2.4, 2)
(1, 890, 56, 2, 2.4, 4, 45, 3, 22)
(22, 3)
(22, 3, 45, 4, 2.4, 2, 56, 890)
(22, 3, 45, 4, 2.4, 2, 56)

In [129]:
#Set
#You cannot access items in a set by referring to an index or a key.

In [130]:
#Dictionary
Fdict = {
    'fri1':'Kiran',
    'fri2':'Siddhant',
    'fri3':'Bhavesh',
    'fri4':'Abhay'
}

print(Fdict['fri1'])
print(Fdict.get('fri2'))

Kiran
Siddhant

In [131]:
#Dictionary
Dict = {'Dict1': {'Roll_No': 1},
        'Dict2': {'Name': 'Karan'}}
print(Dict['Dict1'])
print(Dict['Dict1']['Roll_No'])
print(Dict['Dict2']['Name'])

{'Roll_No': 1}
1
Karan

In [132]:
# dictionary Slicing
d = {1:2, 3:4, 5:6, 7:8}

# the subset of keys I'm interested in
l = (1,5)

{key:d[key] for key in set(l) & set(d)}

{1: 2, 5: 6}


**Accessing Nested List using Slicing**

In [133]:
#List
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']
print(L[2])

print(L[2][2])

print(L[2][2][0])

['cc', 'dd', ['eee', 'fff']]
['eee', 'fff']
eee

In [134]:
#Tuple
t1 =('X', ((1, 2, 3), 'B'), 'Y', 'Z')

print(t1[2])

print(t1[1][0])

print(t1[1][0][1])

Y
(1, 2, 3)
2